# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

*.gch
*.pch

*.so
*.dylib
*.dll

*.mod
*.smod

*.lai
*.la
*.a
*.lib

*.exe
*.out
*.app
admin
BankApp

build/
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
BankApp_autogen/

*.moc
moc_*.cpp
ui_*.h
qrc_*.cpp

.vscode/
.idea/
*.swp
.DS_Store
